.vscode/**
.vscode-test/**
node_modules
out/test/**
out/**/*.map
src/**
.editorconfig
.gitignore
.mocharc.yaml
.vscodeignore
pnpm-lock.yaml
simple-js-test-runner-*
tsconfig.json
tslint.json
vsc-extension-quickstart.md